@import "bootstrap/dist/css/bootstrap.min.css";



body{
    background-image: url(img/fondo-ondulado-abstracto-blanco-de-pantalla-limpio-y-minimalista-para-medios-sociales-396470283.webp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}


.Caja{
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 2%;
    box-shadow: none;
    
}


.titulo{
    color: #a20808;
    font-size: 2.5rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#imagenExcusa{
    max-width: 350px;
    height: 300px;
    display: block;
    margin: 20px auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
   
}


#Excusa{
    font-size: 1.8rem;
    color: #333333;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


button{
    display: block;
    margin: 10px auto;
    padding: 12px 24px;
    transition: all 0.1s ease ;
    overflow: hidden;
}

button:hover{
   transform: scale(1.1);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

button{
   transform: scale(0.95);
}